<script>
	function spawnField(){
		var newVariation = document.getElementById('varinner');
		console.log(newVariation);
		$('#varid').append(newVariation);
	}
</script>
<div class="row panel text-center">
	<div class="panel-inner">
		<button ng-click="makeitem()" class="btn btn-info btn-lg">Create Items</button>
		<button ng-click="makemod()" class="btn btn-info btn-lg">Create Modifiers</button>
		<a ui-sref="pos" class="btn btn-info btn-lg">Go to POS</a>
	</div>
</div>
<form ng-show="itemcreate">
	<div class="form-group">
		<label for="item_name">Item Name</label>
		<input type="text" ng-model="itemObj.name" class="form-control" id="item_name" required />
	</div>
    <div class="form-group">
		<label for="department">Departments</label>
		<div class="form-group" id="department">
			<label ng-repeat="dept in department" class="checkbox-inline">
				<input type="checkbox" ng-model="dept" />{{dept}}
			</label>
		</div>
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<textarea rows="4" class="form-control" ng-model="itemObj.description" id="description"></textarea>
	</div>
	<div class="form-group">
		<label>
		  <input type="checkbox" id="availability" ng-model="itemObj.visibility" /> Visible Online?
		</label>
		<label>
		  <input type="checkbox" id="del" ng-model="itemObj.available_online" /> Available online (delivery)?
	    </label>
		<label for="pick">
		  <input type="checkbox" id="pick" ng-model="itemObj.available_for_pickup" /> Available for pickup?
	    </label>
	</div>
	<hr/>
	<div id="varidd">
	  <div id="varinner">
	  <div class="input-group">
		<label for="price">Variation Price</label>
        <span class="input-group-addon">$</span>
		<input type="text" ng-model="itemObj.variations.price_money.amount" class="input-control" id="price" required />
	  </div>
	  <div class="form-group" id="varid">
		<label for="variation">Variation Name</label>
		<input type="text" ng-model="itemObj.variations.name" class="form-control" id="variation" required/>
	  </div>
	  </div>
	<button onClick="spawnField()" class="btn btn-info btn-sm">Add</button>
	</div>
	<button class="btn btn-primary btn-lg" ng-click="create(itemObj)">Create</button>
</form>


<form ng-show="ingcreate">
	<div class="form-group">
		<label for="item_name">Ingredient Name</label>
		<input type="text" ng-model="ingObj.name" class="form-control" id="item_name" required />
	</div>
	<button class="btn btn-primary btn-lg" ng-click="create(ingObj)">Create</button>
</form>

<div class="row" ng-repeat="field in message">
{{field}}
</div>